docker/data/*
docker/config/*

.vscode/
.idea/

node_modules/
.ruff_cache/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Flask stuff:
instance/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

!/.git*
