# Editors
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
.idea/
.cursor/
*.swp
*.swo
*~
Session.vim
*.sublime-project
*.sublime-workspace

# OS
.DS_Store
Thumbs.db

# Python cache and build files
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/
.mypy_cache/
.pytest_cache/
.ruff_cache/
.coverage
htmlcov/

# Python virtual environments
.venv
env/
venv/
ENV/

# Env vars and secrets for dynaconf
.env
.secrets.*

# Node
node_modules/

# Flask instance
instance/

docker/data/
docker/config/

!/.git*
