@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700);

html {
    background: #EEE;
    line-height: 1.2;
    font-size: 1.2em;
    color: #444
}

html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
    font-family: "Open Sans", sans-serif;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #CCC;
    margin: 1em 0;
    padding: 0
}

a:link {
    color: #E85B92
}

a:visited {
    color: #F181AC
}

a:active {
    color: #F181AC
}

.content-title {
    font-weight: bold
}

.content-body > * {
    text-align: center
}

blockquote {
    font-size: 0.9em;
    margin: 10px;
    padding: 10px;
    color: #888;
}

blockquote:before {
    content: '>';
}

blockquote > * {
    display: inline;
}

.inline-menu:before {
    content: '[ '
}

.inline-menu:after {
    content: ' ]'
}

.inline-menu > * {
    display: inline
}

.vertical-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline
}

.text-center {
    text-align: center
}

.text-left {
    text-align: left
}

