@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap');

:root {
    --primary-bg-color: #eeeeee;
    --primary-text-color: #000000;
    --secondary-text-color: #757575;
    --error-text-color: red;
    --primary-color: #ff5995;
    --accent-color: #ba2d65;
}

html {
    background: var(--primary-bg-color);
    line-height: 1.2;
    font-size: 1.2em;
    color: var(--primary-text-color);
}

html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
    font-family: 'Roboto', sans-serif;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #CCC;
    margin: 1em;
}

a {
    text-decoration: none;
}

a:link {
    color: var(--primary-color);
}

a:visited {
    color: var(--primary-color);
}

a:hover {
    color: var(--accent-color);
    text-decoration: underline;
}

.content-title {
    font-weight: bold;
    font-size: 1.1em;
}

.content-body {
    text-align: center;
}

.footer-quote {
    color: var(--secondary-text-color);
    font-size: 0.9em;
}

.vertical-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline;
}

.text-center {
    text-align: center;
}

.profile-links:before {
    content: "[";
}

.profile-links:after {
    content: "]";
}

.profile-links-item {
    padding: .2em .2em;
}

.img-avatar {
    max-width: 10em;
    margin: auto;
    padding: 1em;
}

.img-avatar > * > img {
    border-radius: 50%;
}
