{% if menu %}
    <nav class="pure-menu pure-menu-horizontal social-links">
        <ul class="pure-menu-list">
            <span>[ </span>
            {% for name, url in menu.items() %}
                <li class="pure-menu-item">
                    <a href="{{ url }}" target="_blank"
                       class="pure-menu-link social-links-item">{{ name }}</a>
                </li>
                {% if not loop.last %}
                    <li class="pure-menu-item"> | </li>
                {% endif %}
            {% endfor %}
            <span> ]</span>
        </ul>
    </nav>
{% endif %}
